<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NForce Application Test Automation Test Suite">

<listeners>
		<listener class-name="com.NForce.qa.ExtentReportListner.ExtentReporterNG"/>
</listeners>

	<test name = "NForce Application Test Cases">
	 	<classes>
	   		<class name="com.NForce.qa.testcases.LoginPageTest"/>
	   		<class name="com.NForce.qa.testcases.DashboardPageTest"/>
	   		<class name="com.NForce.qa.testcases.BulkGuardPageTest"/>   	
	 	</classes>
	 </test>
</suite>